{% extends 'layout/base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Products</h1>

    <table border="1" class="product_table">
        <tr>
            <th></th>
            <th>Ma SP</th>
            <th>Ten SP</th>
            <th>Mo ta SP</th>
            <th>Gia ban SP</th>
        </tr>
        {% for product in products %}
        <tr>
            <th>
                <a href="{{url_for('product', product_id=product.id)}}">
                    {{ product.image }}
                </a>
            </th>
            <th>{{ product.id }}</th>
            <th>{{ product.name }}</th>
            <th>{{ product.description }}</th>
            <th>{{ product.price }}</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
